input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ui-datepicker {
    background: #fff;
    border: 1px solid #aaa;
    color: #333;
}

/* Customize the header */
.ui-datepicker .ui-datepicker-header {
    background: #f7f7f7;
    color: #444;
    border-bottom: 1px solid #aaa;
}

/* Style the prev/next buttons */
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    cursor: pointer;
}

/* Style the days of the week */
.ui-datepicker .ui-datepicker-week-col {
    color: #666;
}

/* Highlight the selected and today dates */
.ui-datepicker .ui-datepicker-today {
    background: #e9e9e9;
}
.ui-datepicker .ui-state-active, .ui-datepicker .ui-state-highlight {
    background: blue;
    color: #fff;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #DEE2E6;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0D6EFD;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: blue;
}

.star, .star_product{
    font-size: 25px;
}

.settings-sidebar{
    width: 50%;
}

#componentContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.component-header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.component-form-group{
    padding: 10px;
}

.listing-select{
    position: relative;
}

.listing-id-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-height: 38px;
}

.listing-id-container p{
    background-color: #0d6dfd91;
    margin: 0;
    padding: 5px;
    border-radius: 10px;
}

.listing-id-container:focus + .listing-list{
    display: block;
}

.listing-list{
    position: absolute;
    border: solid 1px black;
    z-index: 2;
    background-color: white;
    width:100%;
    overflow: scroll;
    max-height: 150px;
    display: none;
}

.listing-option{
    display: flex;
    flex-direction: row;
    border-bottom: 1px black solid;
}

.hidden-search {
    position: absolute;
    left: -9999px;
    opacity: 0.01;
}

.component-product-container{
    gap: 15px;
}

.component-product-container .card-container{
    width: initial;
}
