@import 'bootstrap/scss/bootstrap';

/* Change the datepicker container background and font color */
.ui-datepicker {
    background: #fff;
    border: 1px solid #aaa;
    color: #333;
}

/* Customize the header */
.ui-datepicker .ui-datepicker-header {
    background: #f7f7f7;
    color: #444;
    border-bottom: 1px solid #aaa;
}

/* Style the prev/next buttons */
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    cursor: pointer;
}

/* Style the days of the week */
.ui-datepicker .ui-datepicker-week-col {
    color: #FFF;
}

/* Highlight the selected and today dates */
.ui-datepicker .ui-datepicker-today {
    background: #e9e9e9;
}
.ui-datepicker .ui-state-active, .ui-datepicker .ui-state-highlight {
    background: #3077fc;
    color: #fff;
}

.listing-container{
    gap: 200px;
}

.left, .right{
    width: 30%;
}

.left{
    display: flex;
}

//listings
.card-container{
    width: 25%;
    margin-bottom: 20px;
}

.icon-button{
    background: none;
    padding: 0px;
    border: none;
    color: #0d6efd;
}